.panel-body-heading {
	border-bottom: 1px solid #c3c3c3;
	padding-bottom: 15px;
	margin-bottom: 20px;
	font-size: 20px;
	color: #999999;
	font-weight: 300;
}

	.panel-body-heading a {
		font-weight: bold;
		cursor: pointer;
		color: #999999;
		font-size: 15px;
		text-decoration: underline;
		margin-left: 10px;
	}

.panel-body a.btn {
	margin-left: 0;
}

.panel-body a.blauweLink {
	cursor: pointer;
	color: #3399CC;
	font-size: 15px;
	text-decoration: underline;
	margin-left: 10px;
	padding-right: 10px;
}

.labelTitle {
	font-weight: bold;
	margin-bottom: 12px;
}

.panel-field-input {
	margin-bottom: 10px;
}

.panel-body {
	padding: 1.14286rem !important;
}